body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 769px) {
	.section3 {
		display: none;
	}
}

.main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-template-areas: 'sidebar content content content content';
	height: 100vh;
}

.sidebar {
	grid-area: sidebar;
	/* border: 1px solid gold; */
	background: linear-gradient(to right, rgb(5, 2, 49), rgb(9, 58, 9));
	padding: 1em;
}

.sidebar .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 19%;
	color: rgb(34, 118, 228);
	text-align: center;
}

.sidebar .footer:hover {
	color: gold;
	font-size: large;
}

.section1 {
	color: white;
	font-size: x-large;
	display: flex;
	justify-content: space-between;
}

.section2 {
	color: white;
	text-align: center;
	padding: 0.5em;
	background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
}

.section2a {
	color: white;
	text-align: center;
	padding: 0.5em;
	background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
	height: 30vh;
}

.content {
	grid-area: content;
	/* border: 1px solid blue; */
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('images/sticker11.jpg');
	background-size: 100% 100%;
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1 fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'task-form task-pending task-pending task-pending'
		'task-form  task-complete task-complete task-complete';
}

.data {
	display: flex;
	justify-content: space-between;
}

.task-pending {
	grid-area: task-pending;
	/* margin-top: 1%; */
	/* From https://css.glass */
	background: rgba(95, 107, 241, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(95, 107, 241, 0.3);
	/* height:40vh; */
	width: 100%;
}

.task-complete {
	grid-area: task-complete;
	/* margin-top: 32%; */
	/* From https://css.glass */
	background: rgba(116, 243, 94, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(116, 243, 94, 0.3);
	/* height:40vh; */
	width: 100%;
	margin-top: 1em;
}

.task-form {
	grid-area: task-form;
	color: white;
	text-align: center;
	/* padding: 0.2em; */
	/* margin: 50px; */
	/* background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
	 */
	/* From https://css.glass */
	background: rgba(29, 5, 5, 0.6);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	border: 1px solid rgba(29, 5, 5, 0.3);
	height: 65vh;
	width: 80%;
	margin-top: 15%;
}

.task {
	grid-area: task;
	color: white;
	text-align: center;
	padding: 0.5em;
	background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

/* .formInputs {
	display: flex;
	justify-content: space-around;
} */

input {
	width: 80%;
	height: 1em;
	/* border-radius: 1rem; */
	border: none;
	background-color: transparent;
	border: 1px solid gold;
	margin-top: 2%;
	color: yellow;
	padding: 1em;
	font-size: medium;
	text-align: center;
}

.dateDue {
	width: auto;
	height: 1em;
	/* border-radius: 1rem; */
	border: none;
	/* background-color: rgb(230, 209, 157); */
	margin-top: 2%;
	background-color: transparent;
	border: 1px solid gold;
	padding: 1em;
	font-size: medium;
	text-align: center;
	width: 80%;
	color: gold;
}
textarea {
	width: 80%;
	height: 18vh;
	border: none;
	color: gold;
	background-color: transparent;
	border: 1px solid gold;
	/* background-color: black; */
}
.taskPendingData {
	display: flex;
	flex-direction: column;
	/* align-items: center */
	margin-top: -19px;
}

.dataTitle
{
	display: flex;
	justify-content: space-between;
	gap: 1px;
}

.dataToDo {
	display: flex;
	justify-content: space-between;
	/* gap: 1px; */
	color: white;
}


.dataToDo ion-icon {
	font-size: x-large;
}

h6 button {
	background-color: transparent;
	border: none;
}

::placeholder {
	color: white;
	text-align: center;
	font-size: medium;
}

form button {
	margin-top: 3%;
	padding: 2%;
	width: 35%;
	font-size: small;
	border-radius: 2em;
	border: none;
	background-color: blueviolet;
	color: white;
	font-weight: bolder;
}
/* .taskPendingData{
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.taskButton {
	border-radius: 70em;
	padding: 30%;
	border: none;
	display: none;
}

.myTasks li {
	display: flex;
	justify-content: space-between;
	background-color: rgb(243, 21, 21);
	color: wheat;
	margin-top: 1em;
	list-style: none;
	flex: 33.333333%;
}
.myTasks {
	width: 80%;
	margin: auto;
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: center;
}

/* .myTasks li {
	
  } */

input[type='checkbox'] {
	font-size: large;
}

.deleteButton {
	font-size: xx-large;
	color: red;
}

.deleteButton:hover {
	color: yellow;
}

.delete-task {
	background-color: black;
	border: none;
}

.myTasks .complete {
	text-decoration: line-through;
	background-color: blueviolet;
}

.date {
	font-size: large;
	font-weight: 500;
}

myTasks {
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	.main {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1);
		grid-template-areas:
			'sidebar'
			'content';
		height: 100vh;
	}

	.sidebar {
		grid-area: sidebar;
		/* border: 1px solid gold; */
		background-color: blue;
		padding: 1em;
		height: 40vh;
	}

	.section2 {
		color: white;
		text-align: center;
		padding: 0.5em;
		background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
		margin-top: -4%;
	}
	
	.sidebar footer {
		display: none;
		
	}



	.content {
		grid-area: content;
		/* border: 1px solid blue; */
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
			url('/images/sticker11.jpg');
		background-size: 100% 100%;
		padding: 5px;
		display: grid;
		grid-template-columns: repeat(1, 1 fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			'task-form'
			'task-pending'
			'task-complete'
			;
	}

	.data {
		display: flex;
		justify-content: space-between;
	}

	.task-pending {
		grid-area: task-pending;
		/* margin-top: 1%; */
		/* From https://css.glass */
		background: rgba(95, 107, 241, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(95, 107, 241, 0.3);
		/* height:40vh; */
		width: 100%;
	}

	.task-complete {
		grid-area: task-complete;
		/* margin-top: 32%; */
		/* From https://css.glass */
		background: rgba(116, 243, 94, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(116, 243, 94, 0.3);
		/* height:40vh; */
		width: 100%;
		margin-top: 1em;
	}

	.task-form {
		grid-area: task-form;
		color: white;
		text-align: center;
		/* padding: 0.2em; */
		/* margin: 50px; */
		/* background: linear-gradient(to right, rgb(236, 3, 3), rgb(14, 11, 230));
	 */
		/* From https://css.glass */
		background: rgba(29, 5, 5, 0.6);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(6.6px);
		-webkit-backdrop-filter: blur(6.6px);
		border: 1px solid rgba(29, 5, 5, 0.3);
		height: 65vh;
		width: 100%;
		margin-top: 15%;
	}
}
